.design {
    padding-top: 26px;
    padding-bottom: 26px;

    @media screen and (min-width: 708px) {
        padding-top: 50px;
        padding-top: 64px;
    }

    @media screen and (min-width: 1320px) {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    &__flex {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: 708px) {
            flex-direction: row;
            justify-content: space-between;
            position: relative;
        }
    }

    &__image {
        margin-top: 32px;

        @media screen and (min-width: 708px) {
            margin-top: 0;
            width: 354px;
            height: 540px;
            position: absolute;
            right: 354px;
        }

        @media screen and (min-width: 1320px) {
            width: 590px;
            height: 616px;
            right: 660px;
        }
    }

    &__title {
        color: $title-color;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        width: 206px;
        margin-bottom: 32px;

        @media screen and (min-width: 708px) {
            font-size: 30px;
            letter-spacing: 0.6px;
            width: 294px;
        }

        @media screen and (min-width: 1320px) {
            margin-bottom: 50px;
            font-size: 54px;
            letter-spacing: 1.08px;
            width: 464px;
        }
    }

    &__item {

        &:nth-child(1) {
            margin-bottom: 24px;

            @media screen and (min-width: 708px) {
                margin-bottom: 40px;
            }
        }

        &:nth-child(2) {

            @media screen and (min-width: 708px) {
                margin-bottom: 59px;
            }

            @media screen and (min-width: 1320px) {
                margin-bottom: 25px;
            }
        }

    }

    &__subtitle {
        color: $title-color;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 16px;

        @media screen and (min-width: 1320px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }

    &__text {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        width: 280px;

        @media screen and (min-width: 708px) {
            font-size: 16px;
            line-height: 1.45;
            width: 294px;
        }

        @media screen and (min-width: 1320px) {
            font-size: 20px;
            width: 510px;
        }
    }
}