.faq{
    padding-top: 8px;
    padding-bottom: 2px;

    @media screen and (min-width: 708px) {
        padding-top: 50px;
        padding-bottom: 22px;
    }
    @media screen and (min-width: 1320px) {
        padding-top: 85px;
        padding-bottom: 64px;
    }

    &__title{
        color: $title-color;
        font-family: "Gilroy";
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (min-width: 708px) {
            font-size: 30px;
            letter-spacing: 0.6px;
        }

        @media screen and (min-width: 1320px) {
            font-size: 54px;
            letter-spacing: 1.08px;
            margin-bottom: 54px;
        }
    }

    &__item{
        display: flex;
        margin-bottom: 24px;
        margin-top: 24px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.10) ;
        padding-bottom: 24px;
        @media screen and (min-width: 708px) {
            margin-bottom: 28px;
            align-items: center;
        }
        @media screen and (min-width: 1320px) {
            margin-bottom: 21px;
            margin-top: 88px;
        }
    }

    &__subtitle{
        color: $title-color;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-weight: 400;
        line-height: 0.7;
        margin-right: 16px;
        @media screen and (min-width: 1320px) {
            font-size: 28px;
            line-height: 1.25;
            margin-right: 32px;
        }
    }

    &__subtitle2{
        color: $text-color;
        font-family: "Gilroy";
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        margin-right: auto;
        @media screen and (max-width: 707px) {
            width: 200px;
        }
        @media screen and (min-width: 708px) {
            font-size: 16px;
            line-height: 1.45;
        }
        @media screen and (min-width: 1320px) {
            font-size: 28px;
        }

    }

    &__btn{
        background-color: $faq-color;
        border: 1px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        @media screen and (min-width: 1320px) {
            width: 42px;
            height: 42px;  
        }
    }

    &__button{
        color: $title-color;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-weight: 400;
        line-height: 0.7; 
        @media screen and (min-width: 1320px) {
            font-size: 28px
        }
    }
    &__div::before{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text-color;
        opacity: 0.1;
    }
}