.feedback {
    padding: 44px 0 36px 0;
  
    @media screen and (min-width: 708px) {
        padding: 50px 0;
    }

    @media screen and (min-width: 1320px) {
        padding: 85px 0;
    }

    &__background {
        width: 280px;
        height: 235px;
        margin-bottom: 16px;

        @media screen and (min-width: 708px) {
            width: 648px;
            height: 360px;
            margin-bottom: 100px;
        }

        @media screen and (min-width: 1320px) {
            width: 1440px;
            height: 524px;
            margin-bottom: 170px;
        }

    }

    &__info-box {
        @media screen and (min-width: 1320px) {
            display: flex;
            justify-content: space-around;
        }
    }

  
    &__title {
        color: $title-color;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.20; 
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-bottom: 32px;
        animation: feedback-title 3s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 708px) {
            font-size: 30px;
            letter-spacing: 0.6px;
        }

        @media screen and (min-width: 1320px) {
            font-size: 54px;
            letter-spacing: 1.08px;        
        }

        @keyframes feedback-title {
            0% {
                transform:scale(1);
            }

            100% {
                transform: scale(1.1) translate(15px, 0);
            }
        }

    }
  
    &__desc {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 40px;
        animation: feedback-title 3s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 708px) {
            font-size: 20px;
            margin-bottom: 52px;
        }

        @media screen and (min-width: 1320px) {
            font-size: 28px;
            width: 400px;
            margin-bottom: 0;    
        }
    }

    &__form {
        @media screen and (min-width: 708px) {
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 1320px) {
            width: 510px;
        }
    }
  
    &__input {
        color: $text-color;
        width: 100%;
        height: 51px;
        background-color: $bcg-color;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        outline: none;
        margin-bottom: 32px;
        transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1320px) {
            margin-bottom: 42px;
        }

    }
  
    &__input:focus,
    &__input:hover {
        border-bottom: 1px solid $button-color;
        transform: scale(1.1);
    }
  
    &__textarea {
        color: $text-color;
        width: 100%;
        height: 80px;
        background-color: $bcg-color;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        outline: none;
        margin-bottom: 40px;
        resize: none;
        transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1320px) {
            margin-bottom: 52px;
            
        }

    }
  
    &__textarea:focus,
    &__textarea:hover {
        border-bottom: 1px solid $button-color;
        transform: scale(1.1);
    }
  
    &__checkbox-label {
        display: inline-flex;
        align-items: center;
        margin-bottom: 40px;
        width: 233px;

        @media screen and (min-width: 708px) {
            margin-bottom: 52px;
        }

        @media screen and (min-width: 1320px) {
            width: 246px;
        }

    }

  
    &__checkbox:checked + &__checkbox-custom {
        background-color: $bcg-color; 
        border-color: $title-color; 
    }
  
    &__checkbox {
        display: none;
    }
    
    &__checkbox-custom {
        width: 30px;
        height: 28px;
        border: 2px solid $text-color;
        background-color: $bcg-color;
        position: relative;
        margin-right: 24px;
    }
  
    &__checkbox:checked + &__checkbox-custom:after {
        display: inline-block;
    }
  
    &__checkbox-custom:after {
        content: "";
        position: absolute;
        display: none;
        left: 10px;
        top: -10px;
        width: 16px;
        height: 25.5px;
        border: solid $button-color;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
  
    &__checkbox-desc {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;

        @media screen and (min-width: 1320px) {
            font-size: 16px;
            line-height: 1.6;
        }

    }
  
    &__checkbox-link {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 125%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
  
    &__button {
        color: $text-color;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        padding: 20px 119px;
        background-color: $bcg-color;
        border: 1px solid $button-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 708px) {
            align-self: flex-start;
        }

        @media screen and (min-width: 1320px) {
            padding: 22px 229px;
            align-self: center;
            font-size: 20px;
            letter-spacing: 0.4px;
        }

    }
  
    &__button:hover {
        background-color: $button-color;
        transform: scale(1.1);
    }
}