.footer {
    padding-top: 46px;
    padding-bottom: 52px;

    @media screen and (min-width: 708px) {
        padding-top: 50px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1320px) {
        padding-top: 85px;
        padding-bottom: 77px;
    }

    & > .container{

        @media screen and (min-width: 708px) {
            display: flex;
            flex-direction: row;
            align-items: last baseline;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 126px;
        margin-bottom: 28px;

        @media screen and (min-width: 708px) {
            column-gap: 139px;
            margin-bottom: 0;
        }


        @media screen and (min-width: 1320px) {
            height: auto;
            flex-direction: row;
            column-gap: 50px;
            row-gap: 0;
        }
    }

    &__item {
        flex-basis: calc((100% - 45px) / 2);

        &:nth-child(n+4) {
            text-align: right;

            @media screen and (min-width: 708px) {
                text-align: left;
            }
        }

        @media screen and (min-width: 1320px) {
            flex-basis: auto;
        }

    }

    &__link {
        color: $footer-color;
        font-weight: 400;
        line-height: 1.25;
        font-size: 14px;
        font-style: normal;

        &:hover, &:focus {
            color: transparent;
            background: linear-gradient(to right, rgba(223, 61, 58, 0.6), rgba(255, 144, 144, 0.6), rgba(223, 61, 58, 0.6)); 
            background-size: cover; 
            background-position: center; 
            background-clip: text; 
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        @media screen and (min-width: 1320px) {
            font-size: 16px;
        }
    }

    &__tel {
        color: $text-color;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1875;

        &:hover, &:focus {
            color: transparent;
            background: linear-gradient(to right, $button-color, #ff9090, $button-color); 
            background-size: cover; 
            background-position: center; 
            background-clip: text; 
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        @media screen and (min-width: 708px) {
            margin-left: auto;
        }

        @media screen and (min-width: 1320px) {
            margin-top: auto;
        }
    }
}

.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: $button-color;
    border: none;
    border-radius: 50%;

    @media screen and (min-width: 708px) {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    @media screen and (min-width: 1320px) {
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    &__icon {
        width: 10px;
        height: 10px;
        transform: rotate(-45deg);
        fill: $text-color;
    
        @media screen and (min-width: 708px) {
            width: 15px;
            height: 15px;
        }
    
        @media screen and (min-width: 1320px) {
            width: 20px;
            height: 20px;
        }
    }
}