.footer {
    padding-top: 46px;
    padding-bottom: 52px;

    @media screen and (min-width: 708px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (min-width: 1320px) {
        padding-top: 85px;
        padding-bottom: 77px;
    }

    & > .container{
        // flex-direction: column;

        @media screen and (min-width: 708px) {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            align-items: last baseline;
        }

        // @media screen and (min-width: 1320px) {
        //     gap: 267px;
        // }
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 45px;
        // row-gap: 24px;
        height: 102px;
        margin-bottom: 52px;

        @media screen and (min-width: 708px) {
            column-gap: 139px;
            // row-gap: 0;
            margin-bottom: 0;
        }


        @media screen and (min-width: 1320px) {
            height: auto;
            flex-direction: row;
            column-gap: 50px;
            row-gap: 0;
        }
    }

    &__item {
        flex-basis: calc((100% - 45px) / 2);

        &:nth-child(n+4) {
            text-align: right;

            @media screen and (min-width: 708px) {
                text-align: left;
            }
        }

        @media screen and (min-width: 1320px) {
            flex-basis: auto;
        }

    }

    &__link {
        color: $footer-color;
        font-weight: 400;
        line-height: 1.25;
        font-size: 14px;
        font-style: normal;

        @media screen and (min-width: 1320px) {
            font-size: 16px;
        }
    }

    &__tel {
        color: $text-color;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1875;
        // margin-top: 52px;

        @media screen and (min-width: 708px) {
            margin-left: auto;
        }

        @media screen and (min-width: 1320px) {
            margin-top: auto;
        }
    }
}