.guarantees {
    padding: 36px 0;

    @media screen and (min-width: 708px) {
        display: flex;
        padding: 50px 0;
    }

    @media screen and (min-width: 1320px) {
        padding: 85px 0;
    }

    &__box {

        @media screen and (min-width: 708px) {
            display: flex;
            position: relative;
            justify-content: end;
        }

        @media screen and (min-width: 1320px) {
            justify-content: space-evenly;
            background-image: url("../img/desktop/history-desktop-background@2x.webp");
            background-repeat: no-repeat;
            background-position: bottom right calc((100% - 1150px)/2) ;
            background-size: 15%;
        }
        
    }

    &__text-box {

        @media screen and (min-width: 708px) {
            order: 1;
        } 
        
    }

    &__title {
        color: $title-color;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.20;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (min-width: 708px) {
            font-size: 30px;
            letter-spacing: 0.6px;
            
        }

        @media screen and (min-width: 1320px) {
            font-size: 54px;
            letter-spacing: 1.08px;
            margin-bottom: 50px;
        }
    }


    &__subtitle {
        color: $title-color;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        max-width: 152px;
        margin-bottom: 16px;

        @media screen and (min-width: 708px) {
            max-width: 289px;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1320px) {
            font-size: 28px;
            margin-bottom: 20px;
        }

    }

    &__subtitle::before {
        content: "";
        display: block;
        width: 13px;
        height: 13px;
        background-color: $button-color;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    &__desc {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        max-width: 280px;
        margin-bottom: 24px;

        @media screen and (min-width: 708px) {
            max-width: 294px;
            margin-bottom: 55px;
        }

        @media screen and (min-width: 1320px) {
            font-size: 20px;
            line-height: 1.45;  
            margin-bottom: 69px;  
            max-width: 400px;
        }
    }

    &__desc-s {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        max-width: 280px;
        margin-bottom: 32px;

        @media screen and (min-width: 708px) {
            font-size: 16px;
            line-height: 1.45; 
            max-width: 294px;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1320px) {
            font-size: 20px;
            line-height: 1.45;     
            max-width: 400px;  
        }
    }

    &__img {
        width: 280px;
        height: 268px;

        @media screen and (min-width: 708px) {
            width: 354px;
            height: 420px;
            order: -1;
            position: absolute;
            left: -20px;
        }

        @media screen and (min-width: 1320px) {
            width: 590px;
            height: 565px;  
            left: -50px;
        }
    }
}