.header {
    padding-top: 30px;
    padding-bottom: 32px;

    @media screen and (min-width: 708px) {
        padding-top: 50px;
        padding-bottom: 52px;
    }

    @media screen and (min-width: 1320px) {
        padding-top: 64px;
        padding-bottom: 74px;
    }

    & > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        // transform: scale(1.2);
        // transition-property: transform;
        // transition-duration: 200ms;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-name: logo;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1320px) {
            width: 130px;
            height: 15.236px;
        }

        &:hover {

            .header__logo {
                fill: $text-color;
            }
        }
    }

    &__logo {
        fill: $title-color;
        width: 100px;
        height: 12px;

        @media screen and (min-width: 1320px) {
            width: 130px;
            height: 15.236px;
        }
    }

    &__button {
        background-color: transparent;
        border: none;

        &:hover, &:focus {

            .header__burger {
                fill: $button-color;
                transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        @media screen and (min-width: 1320px) {
            display: none;
        }
    }

    &__burger {
        fill: $title-color;
        width: 22px;
        height: 11.711px;
    }
}

.nav {
    display: none;

    @media screen and (min-width: 1320px) {
        display: block;
    }

    &__list {
        display: flex;
        gap: 77px;
    }

    &__link {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1875;

        &:hover, &:focus {
            color: transparent;
            background: linear-gradient(to right, $button-color, #ff9090, $button-color); 
            background-size: cover; 
            background-position: center; 
            background-clip: text; 
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

@keyframes logo{

    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}