.model{
    padding-top: 26px;
    padding-bottom: 44px;

    @media screen and (min-width: 708px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media screen and (min-width: 1320px) {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    &__box{
        position: relative;
    }

    &__title{
        color: $title-color;
        font-family: "Gilroy";
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        @media screen and (min-width: 708px) {
            font-size: 30px;
            letter-spacing: 0.6px;
        }
        @media screen and (min-width: 1320px) {
            font-size: 54px;
            letter-spacing: 1.08px;
            margin-bottom: 50px;
        }
    }

    &__divv{
        display: flex;
        margin-bottom: 32px;
        @media screen and (min-width: 708px) {
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1320px) {
            margin-bottom: 50px;
        }
    }

    &__button{
        background-color: $model-black;
        width: 44px;
        height: 44px;
        border: 1px outset white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 330px;
        margin-right: 24px;
        @media screen and (min-width: 708px) {
            width: 58px;
            height: 58px;
            margin-top: 510px;
        }
        @media screen and (min-width: 1320px) {
            width: 70px;
            height: 70px;
            margin-right: 20px;
            margin-top: 0;
        }
    }

    &__button:hover{
        border: 1px outset $button-color;
    }
    &__button:focus{
        border: 1px outset $button-color;
    }

    &__button2{
        background-color: white;
        width: 44px;
        height: 44px;
        border: 1px outset white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 330px;
        @media screen and (min-width: 708px) {
            width: 58px;
            height: 58px;
            margin-top: 510px;
        }
        @media screen and (min-width: 1320px) {
            width: 70px;
            height: 70px;
            margin-top: 0;
            
        }
    }
    &__button2:hover{
        border: 1px outset $button-color;
    }
    &__button2:focus{
        border: 1px outset $button-color;
    }

    &__img{
        width: 100%;
        position: absolute;
        top: 50px;
        right: 0;
        @media screen and (min-width: 708px) {
            width: 648px;
            height: 446px;
            top: 64px;
        }
        @media screen and (min-width: 1320px) {
            width: 700px;
            height: 664px;
            right: -49px;
            
            top: 0;
        }
    }

    &__list{
        display: inline-block;
    }


    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgba(255, 255, 255, 0.10);
        border-top: 2px solid rgba(255, 255, 255, 0.10);
    }

    &__item:nth-child(2){
        border-top: none;
        border-bottom: none;
    }

    &__subtitle{
        width: 271px;
        color: $text-color;
        font-family: "Gilroy";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__svg{
        width: 20px;
        height: 20px;
    }

    &__title2{
        color: $button-color;
        font-family: "Gilroy";
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-top: 32px;
        margin-bottom: 24px;
        @media screen and (min-width: 708px) {
            font-size: 30px;
            letter-spacing: 0.6px;
            margin-top: 52px;
            margin-bottom: 32px;
        }
        @media screen and (min-width: 1320px) {
            font-size: 54px;
            letter-spacing: 1.08px;
            margin-top: 50px;
            margin-bottom: 32px;
        }
    }

    &__button3{
        width: 280px;
        height: 58px;
        background-color: $button-color;
        border: 1px;
        @media screen and (min-width: 708px) {
            width: 294px;
            height: 58px;
        }
        @media screen and (min-width: 1320px) {
            width: 400px;
            height: 68px;
        }
    }

    &__btn3{
        color: $button-text;
        font-family: "Gilroy";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        @media screen and (min-width: 708px) {
            font-size: 20px;
            letter-spacing: 0.4px;
        }
        @media screen and (min-width: 1320px) {
            font-size: 20px;
            letter-spacing: 0.4px;
        }
    }
}