body { 
    background-color: $bcg-color;
    font-family: "Gilroy";
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $bcg-color;
}

::-webkit-scrollbar-thumb {
    background: $button-color;
}