$text-color: rgba(255, 255, 255, 0.8);
$title-color: #E7E7E7;
$button-color: #DF3D3A;
$footer-color: rgba(255, 255, 255, 0.3);
$faq-color: rgba(255, 255, 255, 0.1);
$button-text: rgba(255, 255, 255, 0.9);
$quote-desc: rgba(255, 255, 255, 0.40);
$model-black: #000000;
$bcg-color: #191919;