ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid burlywood;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 708px) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    width: 1320px;
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #191919;
  font-family: "Gilroy";
}

.header {
  padding-top: 30px;
  padding-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .header {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .header {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  width: 100px;
  height: 12px;
}
@media screen and (min-width: 1320px) {
  .header__link {
    width: 130px;
    height: 15.236px;
  }
}
.header__link:hover .header__logo {
  fill: rgba(255, 255, 255, 0.8);
}
.header__logo {
  fill: #E7E7E7;
  width: 100px;
  height: 12px;
}
@media screen and (min-width: 1320px) {
  .header__logo {
    width: 130px;
    height: 15.236px;
  }
}
.header__button {
  background-color: transparent;
  border: none;
  width: 22px;
  height: 11.711px;
  padding: 0;
}
@media screen and (min-width: 1320px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  fill: #E7E7E7;
  width: 22px;
  height: 11.711px;
}

.nav {
  display: none;
}
@media screen and (min-width: 1320px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  gap: 77px;
}
.nav__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}
.nav__link:hover, .nav__link:focus {
  color: white;
}

.design {
  padding-top: 85px;
  padding-bottom: 85px;
}
.design__title {
  color: #E7E7E7;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  width: 464px;
}
.design__subtitle {
  color: #E7E7E7;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}
.design__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  width: 510px;
}

.capable {
  padding-top: 85px;
  padding-bottom: 85px;
}
.capable__title {
  color: #E7E7E7;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.capable__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  height: 127px;
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  display: flex;
  gap: 22px;
  align-items: center;
}
.capable__text::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
}

.silence {
  padding-top: 170px;
}
.silence__title {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 648px) {
  .silence__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1280px) {
  .silence__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.silence__subtitle {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .silence__subtitle {
    font-size: 28px;
  }
}
.silence__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 648px) {
  .silence__text {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .silence__text {
    font-size: 20px;
    line-height: 1.45;
    width: 492px;
  }
}
@media screen and (min-width: 1280px) {
  .silence__text2 {
    width: 510px;
  }
}

.footer {
  padding-top: 85px;
  padding-bottom: 77px;
}
.footer > .container {
  display: flex;
}
.footer__list {
  display: flex;
  gap: 50px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.footer__tel {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */