ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid burlywood;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 708px) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    width: 1320px;
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #191919;
  font-family: "Gilroy";
}

.header {
  padding-top: 30px;
  padding-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .header {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .header {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  width: 100px;
  height: 12px;
}
@media screen and (min-width: 1320px) {
  .header__link {
    width: 130px;
    height: 15.236px;
  }
}
.header__link:hover .header__logo {
  fill: rgba(255, 255, 255, 0.8);
}
.header__logo {
  fill: #E7E7E7;
  width: 100px;
  height: 12px;
}
@media screen and (min-width: 1320px) {
  .header__logo {
    width: 130px;
    height: 15.236px;
  }
}
.header__button {
  background-color: transparent;
  border: none;
  width: 22px;
  height: 11.711px;
  padding: 0;
}
@media screen and (min-width: 1320px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  fill: #E7E7E7;
  width: 22px;
  height: 11.711px;
}

.nav {
  display: none;
}
@media screen and (min-width: 1320px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  gap: 77px;
}
.nav__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}
.nav__link:hover, .nav__link:focus {
  color: white;
}

.hero__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  max-width: 222px;
  margin-bottom: 16px;
}
.hero__text:nth-child(2) {
  max-width: 93px;
  margin-bottom: 32px;
}
.hero__title {
  color: #E7E7E7;
  max-width: 234px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.hero__btn {
  display: inline-block;
  max-width: 280px;
  padding: 19px 113px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  background-color: #DF3D3A;
  margin-bottom: 32px;
}
.hero__img {
  max-width: 280px;
  height: 240px;
}
@media screen and (min-width: 708px) {
  .hero__img {
    max-width: 354px;
    height: 394px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__img {
    max-width: 700px;
    height: 598px;
  }
}

.design {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 708px) {
  .design {
    padding-top: 50px;
    padding-top: 64px;
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .design {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
.design__flex {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 708px) {
  .design__flex {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .design__flex {
    right: 110px;
  }
}
.design__image {
  margin-top: 32px;
  width: 280px;
  height: 293px;
}
@media screen and (min-width: 708px) {
  .design__image {
    margin-top: 0;
    width: 354px;
    height: 540px;
    position: absolute;
    left: -60px;
  }
}
@media screen and (min-width: 1320px) {
  .design__image {
    width: 590px;
    height: 616px;
    left: auto;
  }
}
.design__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 206px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .design__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .design__title {
    margin-bottom: 50px;
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 464px;
  }
}
.design__item:nth-child(1) {
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .design__item:nth-child(1) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 708px) {
  .design__item:nth-child(2) {
    margin-bottom: 59px;
  }
}
@media screen and (min-width: 1320px) {
  .design__item:nth-child(2) {
    margin-bottom: 25px;
  }
}
.design__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}
@media screen and (min-width: 1320px) {
  .design__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.design__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 708px) {
  .design__text {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .design__text {
    font-size: 20px;
    width: 510px;
  }
}

.capable {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 708px) {
  .capable {
    padding-top: 64px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .capable {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-weight: 600;
  line-height: 1.2;
  font-size: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .capable__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .capable__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1320px) {
  .capable__list {
    flex-wrap: wrap;
    gap: 20px;
    height: 127px;
  }
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  display: flex;
  gap: 24px;
  align-items: center;
}
@media screen and (min-width: 708px) {
  .capable__text {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1320px) {
  .capable__text {
    font-size: 20px;
    gap: 22px;
  }
}
.capable__text::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
}

.silence {
  padding-top: 170px;
}
.silence__img {
  width: 100%;
}
.silence__title {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 648px) {
  .silence__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1280px) {
  .silence__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.silence__subtitle {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .silence__subtitle {
    font-size: 28px;
  }
}
.silence__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 648px) {
  .silence__text {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .silence__text {
    font-size: 20px;
    line-height: 1.45;
    width: 492px;
  }
}
@media screen and (min-width: 1280px) {
  .silence__text2 {
    width: 510px;
  }
}

.ar {
  padding-top: 170px;
}
.ar__title {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 648px) {
  .ar__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1280px) {
  .ar__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.ar__subtitle {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .ar__subtitle {
    font-size: 28px;
  }
}
.ar__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 648px) {
  .ar__text {
    width: 294px;
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1280px) {
  .ar__text {
    width: 380px;
    font-size: 20px;
    line-height: 1.45;
  }
}
.ar__img {
  width: 100%;
}
.guarantees {
  padding: 52px 0;
}
@media screen and (min-width: 708px) {
  .guarantees {
    display: flex;
  }
}
.guarantees__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .guarantees__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
.guarantees__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  max-width: 152px;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .guarantees__subtitle {
    max-width: 289px;
    margin-bottom: 20px;
  }
}
.guarantees__subtitle::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
  margin-bottom: 24px;
}
.guarantees__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  max-width: 280px;
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .guarantees__desc {
    max-width: 294px;
    margin-bottom: 55px;
  }
}
.guarantees__desc-s {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  max-width: 280px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .guarantees__desc-s {
    font-size: 16px;
    line-height: 1.45;
    max-width: 294px;
    margin-bottom: 0;
  }
}
.guarantees__img {
  max-width: 100%;
  height: 268px;
}
@media screen and (min-width: 708px) {
  .guarantees__img {
    max-width: 100%;
    height: 442px;
  }
}

.history {
  padding-bottom: 52px;
  background-image: url("../img/phone/history-phone-background@1x.png");
  background-repeat: no-repeat;
  background-position-y: 1px;
  background-position-x: 200px;
  background-attachment: fixed;
}
.history__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  max-width: 124px;
}
.history__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 32px;
}
.history__img {
  max-width: 100%;
  height: 251px;
  margin-bottom: 32px;
}
.history__img-s {
  max-width: 100%;
  height: 343px;
  margin-bottom: 32px;
}
.history__svg {
  width: 34px;
  height: 25px;
  fill: #DF3D3A;
  margin-bottom: 24px;
}
.history__quote {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}
.history__quote-desc {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

.footer {
  padding-top: 46px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .footer {
    padding-top: 85px;
    padding-bottom: 77px;
  }
}
.footer > .container {
  display: flex;
}
.footer__list {
  display: flex;
}
@media screen and (min-width: 1320px) {
  .footer__list {
    height: auto;
    flex-direction: row;
    gap: 50px;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  line-height: 1.25;
  font-size: 14px;
  font-style: normal;
}
@media screen and (min-width: 1320px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__tel {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */