ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1, h2, h3, p, ul, button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid burlywood;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 708px) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    width: 1320px;
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Semibold";
  src: url(../fonts/Gilroy-Semibold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #191919;
  font-family: "Gilroy";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy Semibold";
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #191919;
}

::-webkit-scrollbar-thumb {
  background: #DF3D3A;
}

.scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #DF3D3A;
  border: none;
  border-radius: 50%;
}
@media screen and (min-width: 708px) {
  .scroll {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
@media screen and (min-width: 1320px) {
  .scroll {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}
.scroll__icon {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
@media screen and (min-width: 708px) {
  .scroll__icon {
    width: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 1320px) {
  .scroll__icon {
    width: 20px;
    height: 20px;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .header {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .header {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  animation-name: logo;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .header__link {
    width: 130px;
    height: 15.236px;
  }
}
.header__link:hover .header__logo {
  fill: rgba(255, 255, 255, 0.8);
}
.header__logo {
  fill: #E7E7E7;
  width: 100px;
  height: 12px;
}
@media screen and (min-width: 1320px) {
  .header__logo {
    width: 130px;
    height: 15.236px;
  }
}
.header__button {
  background-color: transparent;
  border: none;
}
.header__button:hover .header__burger, .header__button:focus .header__burger {
  fill: #DF3D3A;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  fill: #E7E7E7;
  width: 22px;
  height: 11.711px;
}

.nav {
  display: none;
}
@media screen and (min-width: 1320px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  gap: 77px;
}
.nav__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}
.nav__link:hover, .nav__link:focus {
  color: transparent;
  background: linear-gradient(to right, #DF3D3A, #ff9090, #DF3D3A);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
          background-clip: text;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes logo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
.hero {
  padding-bottom: 26px;
}
@media screen and (min-width: 708px) {
  .hero {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .hero {
    padding-bottom: 85px;
  }
}
@media screen and (min-width: 708px) {
  .hero__box {
    display: flex;
    align-items: center;
    position: relative;
  }
}
.hero__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  max-width: 222px;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .hero__text {
    font-size: 16px;
    line-height: 1.45;
    max-width: 289px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__text {
    max-width: 321px;
    margin-bottom: 36px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hero__text:nth-child(2) {
  max-width: 93px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .hero__text:nth-child(2) {
    max-width: 110px;
    margin-bottom: 105px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__text:nth-child(2) {
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__text:hover {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1320px) {
  .hero__btn-title-box {
    padding-left: 110px;
  }
}
.hero__title {
  color: #E7E7E7;
  max-width: 234px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .hero__title {
    font-size: 38px;
    letter-spacing: 0.84px;
    max-width: 289px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__title {
    font-size: 74px;
    letter-spacing: 1.48px;
    text-transform: uppercase;
    max-width: 674px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hero__title:hover {
  transform: scale(1.1);
}
.hero__btn {
  display: inline-block;
  padding: 19px 113px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  background-color: #DF3D3A;
  margin-bottom: 32px;
  border: 1px solid #DF3D3A;
}
@media screen and (min-width: 708px) {
  .hero__btn {
    margin-bottom: 0;
    padding: 19px 120px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__btn {
    padding: 22px 167px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), border 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hero__btn:hover {
  transform: scale(1.1);
  background-color: #191919;
  border: 1px solid #DF3D3A;
}
.hero__img {
  max-width: 280px;
  height: 240px;
}
@media screen and (min-width: 708px) {
  .hero__img {
    max-width: 354px;
    height: 394px;
    position: absolute;
    right: -20px;
    top: 0;
  }
}
@media screen and (min-width: 1320px) {
  .hero__img {
    max-width: 700px;
    height: 598px;
    right: -90px;
  }
}

.design {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 708px) {
  .design {
    padding-top: 50px;
    padding-top: 64px;
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .design {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
.design__flex {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 708px) {
  .design__flex {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .design__flex {
    right: 110px;
  }
}
.design__image {
  margin-top: 32px;
  width: 280px;
  height: 293px;
}
@media screen and (min-width: 708px) {
  .design__image {
    margin-top: 0;
    width: 354px;
    height: 540px;
    position: absolute;
    left: -60px;
  }
}
@media screen and (min-width: 1320px) {
  .design__image {
    width: 590px;
    height: 616px;
    left: auto;
  }
}
.design__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 206px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .design__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .design__title {
    margin-bottom: 50px;
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 464px;
  }
}
.design__item:nth-child(1) {
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .design__item:nth-child(1) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 708px) {
  .design__item:nth-child(2) {
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1320px) {
  .design__item:nth-child(2) {
    margin-bottom: 25px;
  }
}
.design__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}
@media screen and (min-width: 1320px) {
  .design__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.design__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 708px) {
  .design__text {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .design__text {
    font-size: 20px;
    width: 510px;
  }
}

.capable {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 708px) {
  .capable {
    padding-top: 64px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .capable {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .capable__position {
    margin-left: 110px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-weight: 600;
  line-height: 1.2;
  font-size: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .capable__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .capable__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1320px) {
  .capable__list {
    flex-wrap: wrap;
    gap: 20px;
    height: 127px;
  }
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  display: flex;
  gap: 24px;
  align-items: center;
}
@media screen and (min-width: 708px) {
  .capable__text {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1320px) {
  .capable__text {
    font-size: 20px;
    gap: 22px;
  }
}
.capable__text::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
}

.silence {
  padding-top: 170px;
}
@media screen and (min-width: 708px) {
  .silence__box {
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .silence__box {
    position: relative;
  }
}
.silence__img {
  width: 100%;
}
@media screen and (min-width: 708px) {
  .silence__img {
    width: 768px;
    height: 293px;
    position: absolute;
    left: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .silence__img {
    width: 1440px;
    height: 524px;
    position: absolute;
    left: 0px;
  }
}
.silence__title {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .silence__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    padding-left: 361px;
  }
}
@media screen and (min-width: 1320px) {
  .silence__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    padding-left: 533px;
    margin-bottom: 50px;
  }
}
.silence__list {
  display: block;
}
@media screen and (min-width: 708px) {
  .silence__list {
    display: flex;
  }
}
@media screen and (min-width: 1320px) {
  .silence__list {
    display: flex;
  }
}
@media screen and (min-width: 708px) {
  .silence__item:nth-child(2) {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1320px) {
  .silence__item:nth-child(2) {
    margin-left: 40px;
  }
}
.silence__subtitle {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 32px;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .silence__subtitle {
    margin-top: 325px;
  }
}
@media screen and (min-width: 1320px) {
  .silence__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 574px;
  }
}
.silence__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 708px) {
  .silence__text {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
  }
}
@media screen and (min-width: 1320px) {
  .silence__text {
    font-size: 20px;
    line-height: 1.45;
    width: 492px;
  }
}
@media screen and (min-width: 1320px) {
  .silence__text2 {
    width: 510px;
  }
}

.ar {
  padding-top: 170px;
  padding-bottom: 85px;
}
@media screen and (min-width: 708px) {
  .ar__box {
    position: relative;
  }
}
@media screen and (min-width: 1320px) {
  .ar__box {
    position: relative;
  }
}
.ar__title {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .ar__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .ar__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.ar__subtitle {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}
@media screen and (min-width: 1320px) {
  .ar__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.ar__text {
  width: 280px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .ar__text {
    width: 294px;
    font-size: 16px;
    line-height: 1.45;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .ar__text {
    width: 380px;
    font-size: 20px;
    line-height: 1.45;
    padding-bottom: 242px;
  }
}
.ar__img {
  width: 100%;
}
@media screen and (min-width: 708px) {
  .ar__img {
    width: 354px;
    height: 297px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .ar__img {
    width: 700px;
    height: 586px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.guarantees {
  padding: 36px 0;
}
@media screen and (min-width: 708px) {
  .guarantees {
    display: flex;
    padding: 50px 0;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees {
    padding: 85px 0;
  }
}
@media screen and (min-width: 708px) {
  .guarantees__box {
    display: flex;
    position: relative;
    justify-content: end;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees__box {
    justify-content: space-evenly;
    background-image: url("../img/desktop/history-desktop-background@2x.webp");
    background-repeat: no-repeat;
    background-position: bottom right calc((100% - 1150px) / 2);
    background-size: 15%;
  }
}
@media screen and (min-width: 708px) {
  .guarantees__text-box {
    order: 1;
  }
}
.guarantees__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .guarantees__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.guarantees__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  max-width: 152px;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .guarantees__subtitle {
    max-width: 289px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.guarantees__subtitle::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
  margin-bottom: 24px;
}
.guarantees__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  max-width: 280px;
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .guarantees__desc {
    max-width: 294px;
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees__desc {
    font-size: 20px;
    line-height: 1.45;
    margin-bottom: 69px;
    max-width: 400px;
  }
}
.guarantees__desc-s {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  max-width: 280px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .guarantees__desc-s {
    font-size: 16px;
    line-height: 1.45;
    max-width: 294px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees__desc-s {
    font-size: 20px;
    line-height: 1.45;
    max-width: 400px;
  }
}
.guarantees__img {
  width: 280px;
  height: 268px;
}
@media screen and (min-width: 708px) {
  .guarantees__img {
    width: 354px;
    height: 420px;
    order: -1;
    position: absolute;
    left: -20px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantees__img {
    width: 590px;
    height: 565px;
    left: -50px;
  }
}

.history {
  padding: 36px 0;
}
@media screen and (min-width: 708px) {
  .history {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1320px) {
  .history {
    padding: 85px 0;
  }
}
.history__box {
  background-image: url("../img/phone/history-phone-background@2x.webp");
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: top right calc((100% - 220px) / 2);
}
@media screen and (min-width: 708px) {
  .history__box {
    background-image: none;
    flex-wrap: wrap;
    position: relative;
  }
}
.history__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  max-width: 124px;
}
@media screen and (min-width: 708px) {
  .history__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .history__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.history__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .history__desc {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
    margin-bottom: 85px;
  }
}
@media screen and (min-width: 1320px) {
  .history__desc {
    font-size: 20px;
    width: 400px;
    margin-bottom: 74px;
  }
}
@media screen and (min-width: 708px) {
  picture + .history__desc {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1320px) {
  picture + .history__desc {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 708px) {
  .history__quote-box {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
@media screen and (min-width: 1320px) {
  .history__quote-box {
    align-items: center;
    margin-left: 520px;
  }
}
.history__desc-s {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .history__desc-s {
    font-size: 16px;
    line-height: 1.45;
    margin-bottom: 40px;
    width: 294px;
    margin-bottom: 133px;
  }
}
@media screen and (min-width: 1320px) {
  .history__desc-s {
    font-size: 20px;
    margin-bottom: 125px;
    width: 510px;
  }
}
.history__img {
  width: 100%;
  height: 251px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .history__img {
    order: 3;
    position: absolute;
    right: -50px;
    top: 0;
    width: 354px;
    height: 524px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1320px) {
  .history__img {
    width: 700px;
    height: 628px;
  }
}
.history__img-s {
  max-width: 100%;
  height: 343px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .history__img-s {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 294px;
    height: 355px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1320px) {
  .history__img-s {
    width: 290px;
    height: 355px;
  }
}
.history__svg {
  width: 34px;
  height: 25px;
  fill: #DF3D3A;
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .history__svg {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .history__svg {
    margin-bottom: 50px;
  }
}
.history__quote {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .history__quote {
    font-size: 20px;
    width: 294px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1320px) {
  .history__quote {
    font-size: 28px;
    width: 382px;
  }
}
.history__quote-desc {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 708px) {
  .history__quote-desc {
    font-size: 16px;
    line-height: 0.7;
  }
}
@media screen and (min-width: 1320px) {
  .history__quote-desc {
    font-size: 16px;
  }
}

.reviews {
  padding: 36px 0 16px 0;
}
@media screen and (min-width: 708px) {
  .reviews {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1320px) {
  .reviews {
    padding: 85px 0;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: end;
  }
}
.reviews__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.reviews__video {
  width: 280px;
  height: 180px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__video {
    width: 648px;
    height: 417px;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__video {
    width: 920px;
    height: 590px;
    position: absolute;
    left: 0;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__link-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 2;
  }
}
.reviews__link {
  display: inline-block;
  color: #DF3D3A;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}
@media screen and (min-width: 1320px) {
  .reviews__link {
    font-size: 28px;
  }
}
.reviews__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__desc {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1320px) {
  .reviews__desc {
    font-size: 28px;
    width: 340px;
    margin-bottom: 70px;
  }
}
.reviews__item {
  display: flex;
  gap: 20px;
}
.reviews__button {
  color: rgba(223, 61, 58, 0.2);
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  background-color: #191919;
  border: none;
  display: flex;
  padding: 3px;
}
@media screen and (min-width: 1320px) {
  .reviews__button {
    font-size: 28px;
    padding: 5px;
  }
}
.reviews__button:first-child {
  color: #DF3D3A;
}
.reviews__button::after {
  color: rgba(223, 61, 58, 0.2);
  content: "-";
  display: inline-block;
  width: 4px;
  height: 25px;
  margin-left: 20px;
}
@media screen and (min-width: 1320px) {
  .reviews__button::after {
    width: 7px;
    height: 35px;
    margin-left: 12px;
  }
}
.reviews__button:first-child:after {
  color: #DF3D3A;
}
.reviews__button:last-child:after {
  display: none;
}

.faq {
  padding-top: 16px;
}
@media screen and (min-width: 708px) {
  .faq {
    padding-top: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .faq {
    padding-top: 85px;
  }
}
.faq__title {
  color: #E7E7E7;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .faq__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .faq__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    margin-bottom: 54px;
  }
}
.faq__subtitle {
  color: #E7E7E7;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 0.7;
}
@media screen and (min-width: 1320px) {
  .faq__subtitle {
    font-size: 28px;
    line-height: 1.25;
  }
}
.faq__subtitle2 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (max-width: 707px) {
  .faq__subtitle2 {
    width: 200px;
  }
}
@media screen and (min-width: 708px) {
  .faq__subtitle2 {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1320px) {
  .faq__subtitle2 {
    font-size: 28px;
  }
}
.faq__btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 1320px) {
  .faq__btn {
    width: 42px;
    height: 42px;
  }
}
.faq__button {
  color: #E7E7E7;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 0.7;
}
@media screen and (min-width: 1320px) {
  .faq__button {
    font-size: 28px;
  }
}
.faq__div::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.1;
}

.feedback {
  padding: 44px 0 26px 0;
}
.feedback__background {
  width: 280px;
  height: 235px;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .feedback__background {
    width: 648px;
    height: 360px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__background {
    width: 1440px;
    height: 524px;
    margin-bottom: 170px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__info-box {
    display: flex;
    justify-content: space-around;
  }
}
.feedback__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .feedback__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.feedback__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 40px;
}
@media screen and (min-width: 708px) {
  .feedback__desc {
    font-size: 20px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__desc {
    font-size: 28px;
    width: 400px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 708px) {
  .feedback__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__form {
    width: 510px;
  }
}
.feedback__input {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 51px;
  background-color: #191919;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  margin-bottom: 32px;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .feedback__input {
    margin-bottom: 42px;
  }
}
.feedback__input:focus, .feedback__input:hover {
  border-bottom: 1px solid #DF3D3A;
}
.feedback__textarea {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 80px;
  background-color: #191919;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  margin-bottom: 40px;
  resize: none;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .feedback__textarea {
    margin-bottom: 52px;
  }
}
.feedback__textarea:focus, .feedback__textarea:hover {
  border-bottom: 1px solid #DF3D3A;
}
.feedback__checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
  width: 233px;
}
@media screen and (min-width: 708px) {
  .feedback__checkbox-label {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__checkbox-label {
    width: 246px;
  }
}
.feedback__checkbox:checked + .feedback__checkbox-custom {
  background-color: #191919;
  border-color: #E7E7E7;
}
.feedback__checkbox {
  display: none;
}
.feedback__checkbox-custom {
  width: 30px;
  height: 28px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #191919;
  position: relative;
  margin-right: 24px;
}
.feedback__checkbox:checked + .feedback__checkbox-custom:after {
  display: inline-block;
}
.feedback__checkbox-custom:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: -10px;
  width: 16px;
  height: 25.5px;
  border: solid #DF3D3A;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.feedback__checkbox-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 1320px) {
  .feedback__checkbox-desc {
    font-size: 16px;
    line-height: 1.6;
  }
}
.feedback__checkbox-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.feedback__button {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  padding: 20px 119px;
  background-color: #191919;
  border: 1px solid #DF3D3A;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 708px) {
  .feedback__button {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1320px) {
  .feedback__button {
    padding: 22px 229px;
    align-self: center;
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}
.feedback__button:hover {
  background-color: #DF3D3A;
}

.footer {
  padding-top: 46px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1320px) {
  .footer {
    padding-top: 85px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 708px) {
  .footer > .container {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 126px;
  margin-bottom: 28px;
}
@media screen and (min-width: 708px) {
  .footer__list {
    -moz-column-gap: 139px;
         column-gap: 139px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1320px) {
  .footer__list {
    height: auto;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 0;
  }
}
.footer__item {
  flex-basis: calc((100% - 45px) / 2);
}
.footer__item:nth-child(n+4) {
  text-align: right;
}
@media screen and (min-width: 708px) {
  .footer__item:nth-child(n+4) {
    text-align: left;
  }
}
@media screen and (min-width: 1320px) {
  .footer__item {
    flex-basis: auto;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  line-height: 1.25;
  font-size: 14px;
  font-style: normal;
}
.footer__link:hover, .footer__link:focus {
  color: transparent;
  background: linear-gradient(to right, rgba(223, 61, 58, 0.6), rgba(255, 144, 144, 0.6), rgba(223, 61, 58, 0.6));
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
          background-clip: text;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__tel {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}
.footer__tel:hover, .footer__tel:focus {
  color: transparent;
  background: linear-gradient(to right, #DF3D3A, #ff9090, #DF3D3A);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
          background-clip: text;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 708px) {
  .footer__tel {
    margin-left: auto;
  }
}
@media screen and (min-width: 1320px) {
  .footer__tel {
    margin-top: auto;
  }
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  padding-top: 24px;
  padding-bottom: 100%;
  transition-property: transform visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 708px) {
  .menu {
    height: 367px;
    padding-top: 43px;
    padding-bottom: 100px;
    box-shadow: 0px 20px 80px 0px #000;
  }
}
.menu__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__logo {
  fill: #E7E7E7;
  width: 100px;
  height: 12px;
  animation-name: logo;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__logo:hover {
  fill: rgba(255, 255, 255, 0.8);
}
.menu__close {
  background-color: transparent;
  border: none;
}
.menu__close:hover .menu__icon, .menu__close:focus .menu__icon {
  fill: #DF3D3A;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__icon {
  fill: rgba(255, 255, 255, 0.8);
  width: 24px;
  height: 24px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 52px;
}
.menu__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
.menu__link:hover, .menu__link:focus {
  color: transparent;
  background: linear-gradient(to right, #DF3D3A, #ff9090, #DF3D3A);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
          background-clip: text;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 708px) {
  .menu__link {
    font-size: 16px;
    line-height: 1.1875;
  }
}

@keyframes logo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}/*# sourceMappingURL=main.css.map */