<section class="design">
    <div class="container">
        <div class="design__flex">
            <picture>
                <source srcset="./img/desktop/design-desktop@1x.webp 1x, ./img/desktop/design-desktop@2x.webp 2x" media="(min-width: 1320px)">
                <source srcset="./img/tablet/design-tablet@1x.webp 1x, ./img/tablet/design-tablet@2x.webp 2x" media="(min-width: 708px)">
                <source srcset="./img/phone/design-phone@1x.webp 1x, ./img/phone/design-phone@1x.webp 2x" media="(max-width: 707px)">
                <img src="./img/desktop/design-desktop@1x.webp" alt="girl with headphones" class="design__image">
            </picture>
            <div class="design__info">
                <h2 class="design__title">Premium design and comfort</h2>
                <ul class="design__list">
                    <li class="design__item">
                        <h3 class="design__subtitle">11 levels of noise reduction</h3>
                        <p class="design__text">With the new Bose Noise Canceling Headphone 700, you can smoothly increase or decrease the level of noise cancellation. You can be heard perfectly and you hear the interlocutor clearly, even in a noisy environment!</p>
                    </li>
                    <li class="design__item">
                        <h3 class="design__subtitle">Comfort up to max level</h3>
                        <p class="design__text">Stylish, lightweight stainless steel headband with soft, angled cups of headphones for comfortable seating. The inner side is made of soft gel lining that fits well to the head.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>