<section class="faq">
    <div class="container">
    <h2 class="faq__title">FAQ</h2>
    <ul class="faq__list">
        <li class="faq__item">
            <h3 class="faq__subtitle">01</h3>
            <h3 class="faq__subtitle2">How to pair with a mobile device?</h3>
            <button type="button" class="faq__btn"><svg class="faq__svg">
                <use href=""></use>
            </svg></button>
            <div class="faq__div"></div>
        </li>
        <li class="faq__item">
            <h3 class="faq__subtitle">02</h3>
            <h3 class="faq__subtitle2">What is the wireless range of the Bose NC 700?</h3>
            <button type="button" class="faq__btn"><svg class="faq__svg">
                <use href=""></use>
            </svg></button>
            <div class="faq__div"></div>
        </li>
        <li class="faq__item">
            <h3 class="faq__subtitle">03</h3>
            <h3 class="faq__subtitle2">How do I fold the Bose NC 700 headphones for storage?</h3>
            <button type="button" class="faq__btn"><svg class="faq__svg">
                <use href=""></use>
            </svg></button>
            <div class="faq__div"></div>
        </li>
        <li class="faq__item">
            <h3 class="faq__subtitle">04</h3>
            <h3 class="faq__subtitle2">Does the guarantee work internationally?</h3>
            <button type="button" class="faq__btn"><svg class="faq__svg">
                <use href=""></use>
            </svg></button>
            <div class="faq__div"></div>
        </li>
    </ul>
</div>
</section>