<section class="feedback" id="feedback">
    <div class="container">
        <picture>
            <source srcset="./img/desktop/feedback-desktop@1x.webp 1x, ./img/desktop/feedback-desktop@2x.webp 2x" media="(min-width: 1320px)">
            <source srcset="./img/tablet/feedback-tablet@1x.webp 1x, ./img/tablet/feedback-tablet@2x.webp 2x" media="(min-width: 708px)">
            <source srcset="./img/phone/feedback-phone@1x.webp 1x, ./img/phone/feedback-phone@1x.webp 2x" media="(max-width: 707px)">
            <img src="../img/phone/feedback-phone@1x.webp" alt="background" class="feedback__background">
        </picture>
        <div class="feedback__info-box">
        <div class="feedback__text-box">
        <h2 class="feedback__title">Feedback</h2>
        <p class="feedback__desc">We'll help you find the right headphones for you.</p>
        </div>
        <form action="#" class="feedback__form">
            <input type="text" placeholder="Name" class="feedback__input" required>
            <input type="email" placeholder="Email" class="feedback__input" required>
            <textarea name="message" placeholder="Message" class="feedback__textarea" required></textarea>
            <label for="checkbox" class="feedback__checkbox-label">
            <input type="checkbox" id="checkbox" class="feedback__checkbox" required>
            <span class="feedback__checkbox-custom"></span>
            <span class="feedback__checkbox-desc">I agree to the <a href="#" class="feedback__checkbox-link">privacy policy</a></span>
            </label>
            <button type="submit" class="feedback__button">Send</button>
        </form>
        </div>
    </div>
</section>