<footer class="footer" data-aos="fade-up">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item"><a href="#characteristics" class="footer__link" aria-label="Link to characteristics of Bose NC 700">Characteristics</a></li>
            <li class="footer__item"><a href="#history" class="footer__link" aria-label="Link to history section">History</a></li>
            <li class="footer__item"><a href="#reviews" class="footer__link" aria-label="Link to reviews section">Reviews</a></li>
            <li class="footer__item"><a href="#model" class="footer__link" aria-label="Link to order section">Payment and delivery</a></li>
            <li class="footer__item"><a href="https://www.google.com.ua/maps/search/Bose/@42.2425408,-110.085488,4.39z?hl=en&entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D" class="footer__link" aria-label="Link to search a store">Store addresses</a></li>
            <li class="footer__item"><a href="#faq" class="footer__link" aria-label="Link to faq section">FAQ</a></li>
        </ul>
        <a href="tel:+88001111111" class="footer__tel" aria-label="Number to call to us">8 (800) 111-11-11</a>
    </div>
</footer>
<button class="scroll" onclick="window.location.href='#header'" aria-label="Button to top">
    <svg class="scroll__icon">
        <use href="./img/symbol-defs.svg#arrow"></use>
    </svg>
</button>