<header class="header">
    <div class="container">
        <a href="./index.html" class="header__link">
            <svg class="header__logo">
                <use href="./img/symbol-defs.svg#bose-logo"></use>
            </svg>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Characteristics</a></li>
                <li class="nav__item"><a href="#" class="nav__link">History</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Reviews</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Payment and delivery</a></li>
            </ul>
        </nav>
        <button type="button" class="header__button">
            <svg class="header__burger">
                <use href="./img/symbol-defs.svg#hamburger"></use>
            </svg>
        </button>
    </div>
</header>