<header class="header" id="header">
    <div class="container">
        <a href="./index.html" class="header__link" aria-label="Logotype and link to main page">
            <svg class="header__logo">
                <use href="./img/symbol-defs.svg#bose-logo"></use>
            </svg>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#model" class="nav__link" aria-label="Link to characteristics of Bose NC 700">Characteristics</a></li>
                <li class="nav__item"><a href="#history" class="nav__link" aria-label="Link to history section">History</a></li>
                <li class="nav__item"><a href="#reviews" class="nav__link" aria-label="Link to reviews section">Reviews</a></li>
                <li class="nav__item"><a href="#model" class="nav__link" aria-label="Link to order section">Payment and delivery</a></li>
            </ul>
        </nav>
        <button type="button" class="header__button" aria-label="Button to open menu" data-modal-header-open>
            <svg class="header__burger">
                <use href="./img/symbol-defs.svg#hamburger"></use>
            </svg>
        </button>
    </div>
</header>