<section class="history" id="history" data-aos="fade-up-left">
    <div class="container history__box">
        <div class="history__text-box">
            <h2 class="history__title">brand creation history</h2>
            <p class="history__desc">The history of Bose Corporation began 
                with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo systems at the time for his home.
                After a few minutes of listening to the audio recording, his bewilderment turned 
                to disappointment.</p>
            <picture>
                <source srcset="./img/desktop/history-desktop-first@1x.webp 1x, ./img/desktop/history-desktop-first@2x.webp 2x" media="(min-width: 1320px)">
                <source srcset="./img/tablet/history-tablet-first@1x.webp 1x, ./img/tablet/history-tablet-first@2x.webp 2x" media="(min-width: 708px)">
                <source srcset="./img/phone/history-phone-first@1x.webp 1x, ./img/phone/history-phone-first@2x.webp 2x" media="(max-width: 707px)">
                <img src="./img/phone/history-phone-first@1x.webp" alt="history" class="history__img">
            </picture>
            <p class="history__desc">From Amar's point of view, the sound was 
                so flat and unnatural that it was better not 
                to listen to the music at all than to listen 
                to it in such a distorted form.</p>
        </div>
        <div class="history__quote-box">
            <p class="history__desc-s">Bose's frustration grew into a firm determination to build audio equipments that would reproduce sound with impeccable accuracy and naturalness</p>
            <picture>
                <source srcset="./img/desktop/history-desktop-second@1x.webp 1x, ./img/desktop/history-desktop-second@2x.webp 2x" media="(min-width: 1320px)">
                <source srcset="./img/tablet/history-tablet-second@1x.webp 1x, ./img/tablet/history-tablet-second@2x.webp 2x" media="(min-width: 708px)">
                <source srcset="./img/phone/history-phone-second@1x.webp 1x, ./img/phone/history-phone-second@2x.webp 2x" media="(max-width: 707px)">
                <img src="./img/phone/history-phone-second@1x.webp" alt="history" class="history__img-s">
            </picture>
            <div class="history__quote-fix">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 25" fill="none" class="history__svg">
                    <path d="M0 12.0397V0H13.9651V9.06516C13.9651 18.508 9.31007 23.8196 0 25V20.0425C2.35151 19.4287 3.95918 18.5316 4.823 17.3513C5.73481 16.1709 6.28669 14.4004 6.47865 12.0397H0Z" fill="#DF3D3A"/>
                    <path d="M20.0349 12.0397V0H34V9.06516C34 18.508 29.345 23.8196 20.0349 25V20.0425C22.3864 19.4287 23.9941 18.5316 24.8579 17.3513C25.7697 16.1709 26.3216 14.4004 26.5136 12.0397H20.0349Z" fill="#DF3D3A"/>
                </svg>
                <h3 class="history__quote">Never stop dreaming. Always dream of the best, and think about how to achieve it.</h3>
                <p class="history__quote-desc">Amar Bose is a company founder</p>
            </div>
        </div>
    </div>
</section>