<div class="menu is-hidden" data-header-modal>
    <a href="" class="menu__logo">
        <svg class="logo__icon">
            <use href=""></use>
        </svg>
    </a>
    <button type="button" class="menu__close" data-modal-header-close>
        <svg class="menu__icon">
            <use href=""></use>
        </svg>
    </button>
    <ul class="menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Characteristics</a></li>
        <li class="menu__item"><a href="#" class="menu__link">History</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Reviews</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Payment and delivery</a></li>
    </ul>
</div>