<section class="model">
    <div class="container">
    <h2 class="model__title">bose nc 700</h2>
    <button type="button" class="button"></button>
    <button type="button" class="button2"></button>
    <picture>
        <source srcset="./img/desktop/model-desktop@1x.webp 1x, ./img/desktop/model-desktop@2x.webp 2x" media="(min-width: 1320px)">
        <source srcset="./img/tablet/model-tablet@1x.webp 1x, ./img/tablet/model-tablet@2x.webp 2x" media="(min-width: 708px)">
        <source srcset="./img/phone/model-phone@1x.webp 1x, ./img/phone/model-phone@2x.webp 2x" media="(max-width: 707px)">
        <img src="./img/desktop/model-desktop@1x.webp" alt="" class="model__img">
    </picture>
    <div class="model__div"></div>
    <ul class="model__list">
        <li class="model__item">
            <h3 class="model__subtitle">Availability in stores</h3>
            <svg class="model__svg">
                <use href=""></use>
            </svg>
            <div class="model__div2"></div>
        </li>
        <li class="model__item">
            <h3 class="model__subtitle">Characteristics</h3>
            <svg class="model__svg">
                <use href=""></use>
            </svg>
            <div class="model__div2"></div>
        </li>
        <li class="model__item">
            <h3 class="model__subtitle">Payment and delivery methods</h3>
            <svg class="model__svg">
                <use href=""></use>
            </svg>
            <div class="model__div2"></div>
        </li>
    </ul>
    <h2 class="model__title2">14 999 UAH</h2>
    <button type="button" class="model__btn">order</button>
</div>
</section>