<section class="model">
    <div class="container">
    <h2 class="model__title">bose nc 700</h2>
    <button type="button" class="button"></button>
    <button type="button" class="button2"></button>
    <img src="" alt="" class="model__img">
    <div class="model__div"></div>
    <ul class="model__list">
        <li class="model__item">
            <h3 class="model__subtitle">Availability in stores</h3>
            <svg class="model__svg">
                <use href=""></use>
            </svg>
            <div class="model__div2"></div>
        </li>
        <li class="model__item">
            <h3 class="model__subtitle">Characteristics</h3>
            <svg class="model__svg">
                <use href=""></use>
            </svg>
            <div class="model__div2"></div>
        </li>
        <li class="model__item">
            <h3 class="model__subtitle">Payment and delivery methods</h3>
            <svg class="model__svg">
                <use href=""></use>
            </svg>
            <div class="model__div2"></div>
        </li>
    </ul>
    <h2 class="model__title2">14 999 UAH</h2>
    <button type="button" class="model__btn">order</button>
</div>
</section>