<section class="reviews" id="reviews" data-aos="fade-up-right">
    <div class="container reviews__box">
        <h2 class="reviews__title">reviews</h2>
        <iframe id="videoFrame" src="https://www.youtube-nocookie.com/embed/VqP11Ma_2Fk?si=sZX4aB27XTYGNQyw" loading="lazy" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="visible reviews__video"></iframe>
        <div class="reviews__link-box">
        <a href="https://www.youtube.com/watch?v=VqP11Ma_2Fk" target="_blank"  class="reviews__link">Bose Сorporation</a>
        <div class="reviews__desc-box">
        <p id="videoDescription" class="reviews__desc visible">Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax </p>
        </div>
        <ul class="reviews__list">
            <li class="reviews__item">
            <button onclick="changeVideo(1)" type="button" class="active reviews__button">01</button>
            <button onclick="changeVideo(2)" type="button" class="reviews__button">02</button>
            <button onclick="changeVideo(3)" type="button" class="reviews__button">03</button>
            <button onclick="changeVideo(4)" type="button" class="reviews__button">04</button>
        </li>
        </ul>
        </div>
    </div>
    <script>
        function changeVideo(videoNumber) {
            const videoFrame = document.getElementById('videoFrame');
            const videoDescription = document.getElementById('videoDescription');
            let videoSrc;
            let descriptionText;
            switch(videoNumber) {
                case 1:
                    videoSrc = "https://www.youtube-nocookie.com/embed/VqP11Ma_2Fk?si=sZX4aB27XTYGNQyw";
                    descriptionText = "Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax.";
                    break;
                case 2:
                    videoSrc = "https://www.youtube-nocookie.com/embed/BUyLpf-u97Y?si=RiaGpUWYHaCP_GVt";
                    descriptionText = "Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible. The perfect balance of quiet, comfort, and sound."
                    break;
                case 3:
                    videoSrc = "https://www.youtube-nocookie.com/embed/NgtznBDFRUo?si=7cTv1Pkbzh15oy9s";
                    descriptionText = "Real stories of people tuning in or out to feel peace, find escape, and for self-care"
                    break;
                case 4:
                    videoSrc = "https://www.youtube-nocookie.com/embed/VqP11Ma_2Fk?si=sZX4aB27XTYGNQyw";
                    descriptionText = "Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax.";
                    break;
                default:
                    videoSrc = "https://www.youtube-nocookie.com/embed/VqP11Ma_2Fk?si=sZX4aB27XTYGNQyw";
                    descriptionText = "Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax.";
            }

            videoFrame.src = videoSrc;
            videoDescription.classList.remove('visible');
            videoDescription.textContent = descriptionText;
            
            setTimeout(() => {
        videoDescription.classList.add('visible');
        }, 100);
    const buttons = document.querySelectorAll('.reviews__button');
    buttons.forEach(button => {
    button.classList.remove('active');
    });
    buttons[videoNumber - 1].classList.add('active');
    buttons[videoNumber - 1].classList.add('active:after');
    }   
    </script>
</section>