<section class="silence">
    <div class="container silence__box">
    <h2 class="silence__title">The luxury of silence</h2>
    <picture>
    <source srcset="./img/desktop/silence-desktop@1x.png 1x, ./img/desktop/silence-desktop@2x.png 2x" media="(min-width: 1320px)">
    <source srcset="./img/tablet/silence-tablet@1x.png 1x, ./img/tablet/silence-tablet@2x.png 2x" media="(min-width: 708px)">
    <source srcset="./img/phone/silence-phone@1x.png 1x, ./img/phone/silence-phone@2x.png 2x" media="(max-width: 707px)">
    <img src="./img/desktop/silence-desktop@1x.png" alt="" class="silence__img">
</picture>
    <ul class="silence__list">
        <li class="silence__item">
            <h3 class="silence__subtitle">Maximum enjoyment</h3>
                <p class="silence__text silence__text2">In order to create a comfortable atmosphere - raise 
                    the level by level from the "transparent" mode to the maximum blocking of sounds. The conversation mode can be activated in one click using a special button.</p>
        </li>
        <li class="silence__item">
            <h3 class="silence__subtitle">Crystal sound</h3>
                <p class="silence__text">The speaker system and brand name active equalizer are able to provide high-quality and powerful sound at any volume level. You can be sure of no distortion and crystal clear at high and low frequencies.</p>
        </li>
    </ul>
</div>
</section>